<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Cinzel:wght@600&display=swap" rel="stylesheet">
    <title>â„¤ğ• ğ•ğ•“ğ•šğ•– ğ”¹ğ•¦ğ•£ğ•˜ğ•–ğ•£ğ•¤</title>
</head>
<body>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

        *{
            font-family: 'Amatic SC', cursive;
            font-family: 'Cinzel', serif;
        }

    </style>
    

    <div class="container"><div class="jumbotron"><h1><img src="./assets/img/Zburgeras.png" alt=""></h1></div> </div>

    {{{ body }}}

       
</body>
</html>